<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="centro">
            <div class="logo"><img src="foguete-logo.png" width="90x" alt=""></div> <!-- logo-->
            <div class="menu">
                <a href="#"> Home</a>
                <a href="#"> Vagas</a>
                <a href="#"> Contatos </a>
            </div><!--menu-->
        </div> <!--center-->
    </header>
    <section class="sobre">
        <section class="extras">
        </section>

        <div class="center"> 
            <div class="texto">
                <h1> Dê o start no seu futuro com o <br> <span style="color: rgb(10, 10, 180)"> SISTAGIO</span></h1>
            </div>
        </div>

    </section>
</body>

</html>