<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="centro">
            <div class="logo"><img src="/_images/foguete-logo.png" width="90x" alt=""></div> <!-- logo-->
            <div class="menu">
                <a href="#"> Home</a>
                <a href="#"> Login</a>
                <a href="cadastro.html"> Cadastro </a>
            </div>
            <!--menu-->
        </div>
        <!--center-->
    </header>
    <main class="main">
        <div class="containerBox">
            <div class="ladoEsquerdo">
                <h1 class="titleBox">Faça o login no Sistagio e Venha fazer parte do nosso time. </h1>
                <div class="logo2"><img src="/_images/atronautaa-removebg-preview.png" alt="" class="logoo2"></div> <!-- logo-->
            </div>
            <div class="ladoDireito">
                <form action="" class="containerLogin">
                    <h1 class="titleLogin">LOGIN</h1>
                    <div class="itens">
                        <label for="">E-mail</label>
                        <input type="email" placeholder="E-mail" class="inputs-default" />
                    </div>
                    <div class="itens">
                        <label for="">Senha</label>
                        <input type="password" placeholder="Senha" class="inputs-default" />
                    </div>
                    <div class="recuperar_senha">
                        <a href="">Esqueceu sua senha?</a>
                        
                    </div>
                    <div class="classButton">
                        <button type="submit" class="btnLogin">LOGIN</button>
                    </div>
                </form>


            </div>
        </div>
        </div>
    </main>
</body>

</html>